In [9]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import math
from scipy import stats
from scipy.stats import f
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [10]:
a=[4,3,2]
b=[2,4,6]
c=[2,1,3]

In [11]:
stats.f_oneway(a,b,c)

F_onewayResult(statistic=1.5, pvalue=0.2962962962962962)

In [12]:
data=pd.read_excel('oneway.xlsx')

In [13]:
data

   Black Board  Case Presentation  PPT
0            4                  2    2
1            3                  4    1
2            2                  6    3

In [15]:
data_new=pd.melt(data.reset_index(),id_vars=['index'],value_vars=['Black Board','Case Presentation','PPT'])
data_new.columns=['index','Treatments','value']

In [16]:
data_new

   index         Treatments  value
0      0        Black Board      4
1      1        Black Board      3
2      2        Black Board      2
3      0  Case Presentation      2
4      1  Case Presentation      4
5      2  Case Presentation      6
6      0                PPT      2
7      1                PPT      1
8      2                PPT      3

In [17]:
model=ols('value~C(Treatments)',data=data_new).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN