In [2]:
#To sort lexicographically by row or column index,use the sort_index method,
#which retuens a new sorted objcet
import pandas as pd
obj=pd.Series(range(4),index=['d','a','b','c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [4]:
#With a DataFrame,you can sort by index on either axis
import numpy as np
frame=pd.DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],columns=['d','a','b','c'])
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [5]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [6]:
#The data is sorted in ascending order by default,but can be sorted in descending order too
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [7]:
#To sort aseries by values,use its sort_values method
obj=pd.Series([4,7,-3,2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [8]:
#Any missing values are sorted to the end of the series by defualt
obj=pd.Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [10]:
#We can use the data in one or more columns as the sort keys
#To do so,pass one or more column names to the  by option of sort_values
frame=pd.DataFrame({'a':[0,1,0,1],'b':[4,7,-3,2]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [12]:
frame.sort_values(by='b')

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

In [13]:
#To sort by multiple columns,pass a list of names
frame.sort_values(by=['a','b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [14]:
#Ranking assigns ranks from one through the number of valid data points in an array
#By default rank breaks ties by assigning each group the mean rank
obj=pd.Series([7,-5,7,4,2,0,4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [15]:
#Ranks can also be assigned according to the order in which they are observed in the data
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [17]:
#rank in descending order
#assign tie values the maximum rank in the group
obj.rank(ascending=False,method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [18]:
#DataFrane can compute ranks over the rows or the columns
frame=pd.DataFrame({'a':[0,1,0,1],'b':[4.3,7,-3,2],'c':[-2,5,8,-2.5]})
frame

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [19]:
frame.rank(axis='columns')

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0